* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 46px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  color: #465b52;
  margin: 15px 0 20px 0;
}

/* p{
    
} */

body {
  width: 100%;
}

/* HEADER */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.namz {
  font-size: 20px;
  font-weight: bolder;
}

#header a {
  text-decoration: none;
  color: #252525;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  transition: 0.3s ease;
}

#navbar li {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}

#navbar li a:hover {
  color: #757575;
}

/* HOME PAGE */

#hero {
  background-image: url(./Images/notebook-g2b5b73eef_1920.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

/* #hero h2 {
    padding-bottom: 15px;
    color: rgb(215, 173, 253);
}

#hero h1 {
    padding-bottom: 15px;
    color: rgb(215, 173, 253);
} */

#hero h1,
h2,
p,
button {
  position: relative;
  padding-bottom: 15px;
  color: rgb(215, 173, 253);
}

#hero button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(215, 173, 253);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}

/* IMAGE SLIDER */

.carousel-inner img {
  width: 50%;
}

#img_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.innerImg {
  width: 50vw;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
